div#container{width:auto;height:281px;}
div#header{ height:281px; width:50%; float:left;}
div#menu{height:281px; width:50%; float:left;}
div#article{height:394px;}
div#sx{height:675px;margin:0px;}
div#x{height:453px;}
div#1{width:33%;float:left;}
div#2{width:33%;float:left}
div#3{width:33%;float:right;}
body {
	    margin:0px;
        font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
        font-size:8px;
		overflow:scroll;

	    }
#sx{
		background-image: url(/images/UI/bg.png);
	}
#x{
		background-color:#F1F1F1;
	}
#article{
		height:394px;
		}
fieldset.select{
        padding: 0px;
        border: none;
        width: 600px;
		height:36px;
    } 
fieldset.search{
        padding: 0px;
        border: none;
        width: 572px;
        background-image: url(/images/UI/searchbox.png);
}
fieldset.search:hover {
        background-color: transparent;
}
.search input, .search button {
        border: none;
        float: left;
}
.search input.box {
        height: 28px;
        width:540px;
        margin-right: 0px;
        padding-right: 0px;
        background-color: transparent;
        margin: 1px;
}
.search input.box:focus {
        background-color: transparent;
        outline: none;
}
.search button.btn {
        border: none;
        width: 28px;
        height: 28px;
        margin-top: 6px;
        margin: 1px;
        background: url(/images/UI/icon-search.png) no-repeat top right;
}
.search button.btn:hover {
        background: url(/images/UI/icon-search.png) no-repeat bottom right;
}
#s{
        width: 540px;
        height: 28px;
        background-color: transparent;
}
.sf-menu li{
		display:inline;
		
	}
.fh5co-sub-menu li{
		display:block;
	}
#fh5co-primary-menu{
		width:400px;
	}
.daohang{
	float:left;
	display:block;
	height:30px;
	width:100px;
	}




