<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="./css/personalcenter.css" rel="stylesheet" type="text/css" />
<link href="./css/register.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div style="margin-left:50px;">
<div style="border-bottom:#CCC 1px solid;width:280px;">
  <p>用户名:
    <input name="id" id="id"  style="border:0px;width:200px;" type="text"/>
  </p>
</div>
<div style="border-bottom:#FC0 1px solid;width:280px;">
  <p>输入密码:
    <input name="password" id="password"style="border:0px;width:200px;" type="text"/>
  </p>
</div>
<div style="border-bottom:#CCC 1px solid;width:280px;">
  <p>昵称:
    <input name="name" id="name"style="border:0px;width:200px;" type="text"/>
  </p>
</div>
<div style="border-bottom:#FC0 1px solid;width:280px;">
  <p>出生日期:
    <input name="出生日期" id="birthday" style="border:0px;width:150px;" type="date"/>
  </p>
</div>
<div style="border-bottom:#CCC 1px solid;width:280px;">

<div style="float:left;width:60px;">
<p>性别:
<form action=""style="width:50px;margin-left:100px;">
<select id="sex" name="cars">
  <option value="volvo">男</option>
  <option value="fiat" selected>女</option>
</select>
</form>
</div>
<div style="float:left;width:50px;">
<form action=""style="width:60px;">
<select name="car" id="pregnant">
  <option value="fiat" selected>乳母</option>
  <option value="volvo">孕妇</option>
  <option value="volvo">女性	</option>
  
</select>
</form>
</div>
<div style="float:right;width:50px;">
<form action=""style="width:60px;">
<select name="ca" id="loctation">
 <option value="fiat" selected>早</option>
  <option value="volvo">中</option>
  <option value="volvo">晚</option>
</select>
</form>
</p>
</div>
</div>

<div style="border-bottom:#FC0 1px solid;width:280px;">
  <p>体重:
    <input name="体重" id="weight"  style="border:0px;width:200px;" type="text"/>
  </p>
</div>
<div style="border-bottom:#CCC 1px solid;width:280px;">
  <p align="left" >体力活动程度:
    <form action=""style="width:60px;">
<select name="c" id="manualWork">
  <option value="fiat" selected>轻</option>
  <option value="volvo">中</option>
  <option value="volvo">重</option>
  
</select>
</form>
  </p>
</div>
</div>
<div id="footer">
  <div id="left" style="float:left;margin-top:40px;width:50%;"><a href="signIn.html">
    <input name="back" type="button" value="返回" style="background-color:#FFF;color:#FC0;font-size:16px;width:110px;height:60px;border:0px;margin-left:40px;"/>
    </a></div>
  <div id="right" style="float:right;margin-top:40px;width:50%;"><a href="homePage1.html">
    <input name="register" type="button" value="注册" style="background-color:#FC0;color:#CCC;font-size:16px;width:110px;height:60px;border:0px;margin-left:40px;"/>
    </a></div>
</div>
</body>
</html>
